.container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
}
h1,p{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}
input{
    padding-top: 20px;
    width: 50%;
    margin-top: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px 3px red;
}
textarea{
    border: 2px solid black;
    padding-top: 20px;
    width: 50%;
    margin-top: 15px;
    box-shadow: 2px 2px 3px red;
}
.ftxtarea{
    margin-top: 20px;
}
.btn{
    margin: 10px;
    padding: 10px 25px;
    background-color: #1abc9c;
    font-size: 1.6rem;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}
.form-cl{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    
}
.nav{
    font-size: 1.5rem;
}

ul a:hover {
    color: red;
}


.foot{
    position: relative;
    display: flex;
    text-align: center;
    bottom: 0;
    height: 60px;
    margin-top: 25px;
    font-size: 25px;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.dark{
    background-color: #000000;
    color: #1abc9c;
}

button{
    background-color: azure;
    padding: 10px 20px;
    border-radius: 8px;
    color: #000000;
    box-shadow: 4px 4px 0 red;
    transition: transform 0.2s box-shadow 0.2s;
}
button:active{
    transform: translateX(4px) translateY(4px); 
    box-shadow: 0 0 0 red;
}

.login{
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.login input{
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}
